.wrapper {
  display: grid;
  padding: 0 50px;
  height: 100%;
  grid-template-columns: 10% 20% 30% 10% 10% 10% 10%;
  align-items: center;
  button, a {
    background-color: transparent;
    color: white;
    
    &:hover {
      svg {
        fill: #dfdfdf;
      }
    }
  }
}

.plusHover {
  transition: all 0.2s;
  &:hover {
    transform: rotate(90deg);
  }
}
